.section__links{
    background: var(--cor-fundo);
    font-family: var(--fonte-principal);
    padding: 3.5em 4.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__links_titulo{
    font-weight: 700;
    font-size: 45px;
    color: var(--cor-cinza-claro);
    padding-bottom: 1.8em;
}

.section__links_img{
    display: flex;
    gap: 25px;
    padding-bottom: 30px;
}

.section__links_titulo2{
    font-weight: 700;
    font-size: 45px;
    color: var(--cor-principal);
    padding: 1.7em;
}

.section__links_div{
   display: flex;
   border: 3px solid var(--cor-branca);
   padding: 1em;
   gap: 15px;
}

.section__links_link{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section__links_porto{
    width: 700px;
}

.link__imagem{
    width: 193px;
    height: 193px;
}

@media screen and (max-width: 768px) {
    .section__links{
        text-align: center;
        padding: 2em 1.5em;
        align-items: center;
    }

    .section__links_titulo{
        font-size: 30px;
    }

    .section__links_img{
        gap: 7px;
        padding-bottom: 5.7px;
        
    }

    .link__imagem{
        width: 50px;
        height: 50px;
    }

    .section__links_titulo2{
        font-size: 33px;
        padding: 2.3em 1.5em 1.1em 1.5em;
    }

    .section__links_div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px){
    .link__imagem{
        width: 100px;
        height: 100px;
    }

    .section__links_img{
        display: flex;
        gap: 18px;
        padding-bottom: 20px;
    }
}